/* ------fonts------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------
common styles of top section
--------------- */
.button-ul{
text-decoration: none;
}
.nav{
display: flex;
justify-content: space-around;
}
.first-five-button{
    justify-content: space-between;

}
.button-ul{
    padding-inline: 10px;
    padding-top: 10px;
}
.login button{
    
}
.fas{
    color: cyan;
}
.button{
    
}
/* body start */
body{
    font-family: Poppins;
    
}
.top-section{
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}
.copa-america{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
}
.top-section-img img{
    padding-left: 830px;
  position: relative;
  top: -650px;
  padding-right: 225px;
  height: 480px;
 
  
}

.copa-america{
    margin: 0px;
   padding-left: 156px;
   padding-top: 200px;
   padding-bottom: 249px;
   background-color: #2D25A0;
 
}
.watch-live-button{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E02C6D;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px, 24px, 10px, 24px;
    height: 50px;
    width: 140px;
}

/* middle-section-blogs */
.middle-section-whole-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-columns: 30px;
justify-content: space-evenly;
padding-left: 150px;
padding-right: 30px;
}
.middle-section-boxs{
    width: 330px;
    height: 474px;
    position: relative;
    /* border-radius: 10px;
    box-shadow: 10px 10px 30px grey; */
    
}
.middle-section-thumbnail img{
    width: 300px;
    height: 256px;
    top: -450px;
    position: absolute;
    border-radius: 10px;
    justify-content: space-around;
    
}
.middle-section-blog-header{
    position: absolute;
    top: -200px;
}
.middle-section-blog-details{
text-align: justify;
width: 300px;
height: 154px;
}

/* All highlight Copa America 2021 */
.all-highlights-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
position: relative;
}
.all-highlights-detail{
    text-align: left;
    width: 469px;
    height: 241px;
    font-weight: 700;
    position: absolute;
    top: -400px;
    left: 150px;
    
}
.highlight-image-div img{
    width: 700px;
    width: 500px;
    left: 800px;
    top: -400px;
    position: absolute;
}

/* footer style */
.icons{
    position: relative;
    width: 485px;
height: 110px;

}
.footbal-icon{
padding-left: 475px;
}
.first-2-img img{
    width: 473px;
    height: 114px;
    padding-left: 475px;
}

.all-icon{
    width: 170px;
    height: 32px;
    top: 130px;
    left: 157px;
    position: absolute;
}
.each-icon{
    padding-left: 630px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 22px;
    padding-bottom: 121px;
}

/* media-query */
@media screen and (max-width:688px){
    .top-section{
        width: 100%;
    }
    .top-section-title .top-section-img{
        flex-direction: column;
    }
}
